<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="tab-pane fade in active" id="home">
    <div style="margin-top: 30px">
        <form class="form-horizontal" role="form" id="dataForm">
            <div class="form-group">
                <input type="hidden" id="typeId" name="typeId"/>
                <input type="hidden" name="id" id="id" value="${info.id!}"/>
                <input type="hidden" id="keywordTid" name="keywordTid" value="${info.id!}"/>
                <input type="hidden" id="keywordMid" name="keywordMid" value="3">
                <label for="firstname" class="col-sm-1 control-label">类别</label>
                <div class="col-sm-6">
                    <div class="dropdown dropdowmspc" id="dropDown"></div>
                </div>
                <#if info.id??>
                <div class="col-sm-1" style="margin-left: -112px;">
                    <@shiro.hasPermission name="keyword:add">
                    <button id="btn_addkeyword" type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#addKeywordModal">
                        添加标签
                    </button>
                </@shiro.hasPermission>
            </div>
        </#if>
    </div>

    <div class="form-group">
        <label for="title" class="col-sm-1 control-label">标题</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题"
                   value="${info.title!}">
        </div>
    </div>


    <div class="form-group">
        <label for="classificlevelId" class="col-sm-1 control-label">密级</label>
        <div class="col-sm-6">
            <select name="classificlevelId" id="classificlevelId" class="form-control">
                <option value="-1">请选择密级</option>
                <#if (levelId >= 4)> <option value="4">机密</option></#if>
            <#if (levelId >= 3)> <option value="3">秘密</option></#if>
        <#if (levelId >= 2)> <option value="2">内部</option></#if>
    <#if (levelId >= 1)>  <option value="1">公开</option></#if>
</select>
</div>

</div>

<div class="form-group">
    <label for="ziliaoContent" class="col-sm-1 control-label">上传附件</label>

    <div class="col-sm-6">
        <a href="javascript:void(0)" class="btn btn-warning" onclick="electronicFile()"
           data-toggle="modal" data-target="#fileuploadModal">电子</a>
        <a href="javascript:void(0)" class="btn btn-primary" onclick="paperFile()"
           data-toggle="modal" data-target="#paperuploadModal">纸质</a>
    </div>
</div>

<div class="form-group">
    <label for="ziliaoContent" class="col-sm-1 control-label">附件列表</label>
    <div class="col-sm-6" id="attachment">
    </div>
</div>

<div class="form-group">
    <label for="ziliaoContent" class="col-sm-1 control-label">摘要</label>
    <div class="col-sm-6">
                                <textarea id="ckeditor" name="ckeditor" class="form-control" rows="5"
                                          cols="38"></textarea>
        <script type="text/javascript">CKEDITOR.replace('ckeditor')</script>
    </div>
</div>

</form>
</div>
</div>
<div class="tab-pane fade" id="ios">
    <div style="margin-top: 30px">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="policy" class="col-sm-1 control-label">政策</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="policy" name="policy" placeholder="请输入政策"
                           value="${info.policy!}">
                </div>
            </div>

            <div class="form-group">
                <label for="mainAuthor" class="col-sm-1 control-label">执笔人</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="mainAuthor" name="mainAuthor"
                           placeholder="请输入主要执笔人"
                           value="${info.mainAuthor!}">
                </div>
            </div>


            <div class="form-group">
                <label for="participant" class="col-sm-1 control-label">参与人</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="participant" name="participant"
                           placeholder="请输入参与人"
                           value="${info.participant!}">
                </div>
            </div>


            <div class="form-group">
                <label for="policySource" class="col-sm-1 control-label">政策来源</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="policySource" name="policySource"
                           placeholder="请输入政策来源"
                           value="${info.policySource!}">
                </div>
            </div>


            <div class="form-group">
                <label for="startDate" class="col-sm-1 control-label">起始日期</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" id="startDate" name="startDate"
                           placeholder="请输入起始日期"
                           value="${info.startDate!}">
                </div>
            </div>

            <div class="form-group">
                <label for="endDate" class="col-sm-1 control-label">结束日期</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" id="endDate" name="endDate"
                           placeholder="请选择结束日期"
                           value="${info.endDate!}">
                </div>
            </div>
        </form>
    </div>

</div>
<div class="tab-pane fade" id="sifa">
    <div class="panel-body" style="margin-top: 30px">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="plaintiff" class="col-sm-1 control-label">原告</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="plaintiff" name="plaintiff" placeholder="请输入原告"
                           value="${info.plaintiff!}">
                </div>
            </div>

            <div class="form-group">
                <label for="defendant" class="col-sm-1 control-label">被告</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="defendant" name="defendant"
                           placeholder="请输入主要被告"
                           value="${info.defendant!}">
                </div>
            </div>


            <div class="form-group">
                <label for="caseNum" class="col-sm-1 control-label">案例编号</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="caseNum" name="caseNum"
                           placeholder="请输入案例编号"
                           value="${info.participant!}">
                </div>
            </div>


            <div class="form-group">
                <label for="judicialStatus" class="col-sm-1 control-label">状态</label>
                <div class="col-sm-6">
                    <select class="form-control" id="judicialStatus" name="judicialStatus">
                        <option value="一审">一审</option>
                        <option value="二审">二审</option>
                        <option value="再审">再审</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="keyword" class="col-sm-1 control-label">关键词</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="keyword" name="keyword"
                           placeholder="请输入关键词"
                           value="${info.keyword!}">
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>